@import 'src/styles/mixins/helpers.scss';
@import 'src/styles/variables';

.wrapper{
    margin-top: 2rem;
    @include flex(column, center, center, nowrap);

    .next{
        @include flex(row, center, center, wrap);
        text-align: center;
        font-size: 28px;
        color: $font-color;
        letter-spacing: 2px;
        line-height: 1.2;
    }

    .timer{
        position: relative;
        color: $font-color;
        font-size: 9rem;
        line-height: 11.75rem;
        letter-spacing: .125rem;
        .seconds,
        .minuts,
        .hours{
            font-size: 1.125rem;
            line-height: 1.5rem;
            position: absolute;
            bottom: -1rem;
        }

        .hours{
            left: 8%;
        }

        .minuts{
            left: 50%;
            transform: translateX(-50%);
        }

        .seconds{
            right: 6%;
        }
    }
}

@media screen and (max-width: 800px){
    .wrapper{
        .next{
            font-size: 16px;
        }
        .timer{
            font-size: 4rem;

            .hours{
                left: 3%;
            }

            .seconds{
                right: 0%;
            }
        }
    }
}

@media (max-width: 540px){
    .wrapper{
        .next{
            @include flex(column, center, space-evenly, nowrap);
            text-align: center;
        }
    }
}