@import 'src/styles/variables';
@import 'src/styles/mixins/helpers.scss';

.pagin{
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border-radius: 50%;
    color: $font-color;
    padding: 0;
    border: 1px solid transparent;

    &.active{
        border-color: $font-color;
    }
}

.remove{
    padding: .75rem 2.5rem;
    background: transparent;
    border: 1px solid $font-color;
    transition: .4s ease;
    color: $font-color;
    border-radius: 1.5rem;
    font-size: 1.125rem;

    &:hover{
        background: $font-color;
        color: $accent;
    }

    &Cell{
        text-align: end;
    }
}

.wrapper{
    margin-top: 4rem;
    width: 100%;
    @include flex(column, center, flex-start, nowrap);

    .table{
        width: 100%;
        color:$font-color;
        font-size: 1.125rem; 

        thead{
            font-weight: 600;
            border-bottom: 1px solid $primary;
            tr{
                td{
                    padding: 0 .625rem 1.5625rem;
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 1.25rem .625rem;

                    &.address{
                        @include ellipsis;
                        @media (max-width: 541px){
                            max-width: 200px;
                        }
                    }
                }
            }
        }
    }

    .pagination{
        @include flex(row, center, space-between, nowrap);
        gap: 10px;
        width: 100%;
        @media (max-width: 541px){
            @include flex(column, center, flex-start, nowrap);
            padding-bottom: 1.25rem;
        }
        .bal,
        .paginator{
            flex: 0 0 50%;
        }

        .bal{
            text-align: end;
            line-height: 1.2;
        }
    }

    .balance{
        color: $font-color;
        font-size: 18px;
        letter-spacing: 2px;

        &.low{
            color: rgba(247, 99, 87, 1);
        }
    }
}

@media (max-width: 800px) {
    .wrapper{
        &.tableWrap{
            max-width: 100%;
            overflow-y: hidden;
            overflow-x: auto;
        }
    }
}

@media (max-width: 541px) {
    .wrapper{
        &.tableWrap{
            align-items: flex-start;
        }
        .balance{
            font-size: 14px;
        }
    }
}